body {
    /* background-color: #030303; */
    background-color: #15202B;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 22px;
    color: white;
    display: flex;
    justify-content: center;
}

/* h1 {
    color: red;
} */


.navbar {
    display: flex;
    flex-direction: column;
    margin: 20px;
    position: sticky;
    width: 30%;
    /* flex-wrap: wrap; */
}

.nav-link {
    /* position: fixed; */
    /* width: 100%; */
    /* width: 10%; */
    padding: 5%;
    margin: 5%;
    /* background-color: #15202B; */
    color: white;
    text-decoration: none;

}

.card { 
    /* border: 1px solid #16181C; */
    border: 1px solid #38444D;
    margin: 55px;
    text-align: center;
    /* height: 20%; */
}

.image {
    /* border: 1px solid #16181C; */
    border: 1px solid #38444D;
    border-radius: 100px;
    margin: 25px;
    width: 70%;
    text-align: center;
}

.creet { 
    padding: 35px;
    color: white;
    text-align: left;
}

h6 { 
    color: #16181C;
    color: #38444D;
}

.dp {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* border: 1px solid #16181C; */
    border:#38444D;
}